<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script type="text/javascript" src="/static/solicitudes.js"></script>
    <title>GEMA 💎 </title>
</head>
<body>

    <script>
        $(document).ready(function(){
          $("#filtro").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#tablaExamenesBody tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
    </script>

    <img class= "imgs" src="../static/bkg.jpg">

    <div class="col-md-12 header">
        <a href="OpcionesPrincipales.html"><i class="material-icons backA">chevron_left</i></a>
        <h1>Banco de Exámenes</h1>
        <form id="formlogout" action="cerrarSesion" method="post">
            <a href="javascript:$('#formlogout').submit();" data-toggle="SignOutTooltip" data-placement="bottom" title="Cerrar Sesión"><i class="material-icons signO">exit_to_app</i></a>
        </form>
    </div>

    <div class = "col-md-8 w3-container divsG">
        <input class="form-control" id="filtro" type="text" placeholder="Buscar">
        <br>
        <table id="tablaExamenes" class="table-striped">
            <thead>
            <tr>
                <th>Examen</th>
                <th>Curso</th>
                <th>Escuela</th>
                <th>Periodo</th>
                <th>Tipo</th>
                <th>Modalidad</th>
                <th>Fecha de Creación</th>
                <th>Autor</th>
            </tr>
            </thead>
            <tbody id="tablaExamenesBody">
                {% for examen in examenes %}
                    <tr>
                        <td>{{ examen.getId() }}</td>
                        <td>{{ examen.getEncabezado().getCurso() }}</td>
                        <td>{{ examen.getEncabezado().getEscuela() }}</td>
                        <td>{{ examen.getEncabezado().getIdPeriodo() }}</td>
                        <td>{{ examen.getEncabezado().getIdTipoExamen() }}</td>
                        <td>{{ examen.getModalidadExamen() }}</td>
                        <td>{{ examen.getFechaCreacion() }}</td>
                        <td>{{ examen.getCreador() }}</td>
                        <td><a href="#" onclick="descargarExamen(this);return false;" download><i class="fas fa-file-download"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>
</html>