<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script type="text/javascript" src="/static/solicitudes.js"></script>
    <title>GEMA 💎 </title>
</head>
<body>
    <img class= "imgs" src="../static/bkg.jpg">

    <div class="col-md-12 header">
        <a href="/EstudiantesInicio"><i class="material-icons backA">chevron_left</i></a>
        <h1>Comentarios</h1>
        <form id="formlogout" action="cerrarSesion" method="post">
            <a href="javascript:$('#formlogout').submit();" data-toggle="SignOutTooltip" data-placement="bottom" title="Salir"><i class="material-icons signO">exit_to_app</i></a>
        </form>
    </div>

    <div class="row ">
        <div class="col-md-6 w3-container divs">
            <div id="divCodComent">
                <input id="codigoComentarExamen" type="text" placeholder="Código de Exámen: " />
                <button name="ingresarCodigoComentario" class="btn btn-secondary" onclick="chequearCodigo()">Ingresar</button>
            </div>

            <div id="divComent" class="w3-hide">
                <h3>Comentario</h3>
                <textarea id="comentarioReaccion"></textarea>
                </br>
                <h3>Para enviar presione el emoji que más se relacione a su comentario</h3>
                </br>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button value="1" name="reaccion" class="btn btn-secondary emoji" onclick="procesarComentario(this)">😁</button>
                    <button value="2" name="reaccion" class="btn btn-secondary emoji" onclick="procesarComentario(this)">🙂</button>
                    <button value="3" name="reaccion" class="btn btn-secondary emoji" onclick="procesarComentario(this)">😶</button>
                    <button value="4" name="reaccion" class="btn btn-secondary emoji" onclick="procesarComentario(this)">😕</button>
                    <button value="5" name="reaccion" class="btn btn-secondary emoji" onclick="procesarComentario(this)">😭</button>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <img class = "logoLogIn" src="../static/TEC.png" alt="Tecnológico de Costa Rica">
    </div>
</body>
</html>
