<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script type="text/javascript" src="/static/solicitudes.js"></script>
    <title>GEMA 💎 </title>
</head>
<body>

    <img class= "imgs" src="../static/bkg.jpg">

    <div class="col-md-12 header">
        <a href="OpcionesPrincipales.html"><i class="material-icons backA">chevron_left</i></a>
        <h1>Estadísticas de Ítems</h1>
        <form id="formlogout" action="cerrarSesion" method="post">
            <a href="javascript:$('#formlogout').submit();" data-toggle="SignOutTooltip" data-placement="bottom" title="Cerrar Sesión"><i class="material-icons signO">exit_to_app</i></a>
        </form>
    </div>

    <div class = "col-md-6 w3-container divs">
        <div class = "datos">
            <h2>Curso:</h2>
            <select id="SelectCursoEstadisticas" ></select>
            <h2>Tema:</h2>
            <select name="SelectTemaEstadisticas" id="SelectTemaEstadisticas" onchange="obtenerSubtemas(this,'SelectSubtemaEstadisticas')">
                <option>Seleccionar Tema</option>
                {% for tema in Temas %}
                    <option>{{ tema.getId() }} - {{ tema.getTema() }}</option>
                {% endfor %}
            </select>
            <h2>Subtema:</h2>
            <select name = "SelectSubtemaEstadisticas" id="SelectSubtemaEstadisticas" onchange="obtenerItems(this,'parcial','SelectItemEstadiscias','descripcionDesplegar'
                        ,'SelectItemEstadiscias')">>
                <option>Escoger Subtema</option>
            </select>


            <h2>Item</h2>
            <select name= "SelectItemEstadisticas" id="SelectItemEstadisticas">
                <option>Escoger Item</option>
            </select>

            <i id="descripcionDesplegar" class="fa fa-eye"></i>
        </div>

        <div id=Botones>
            <button onclick="ObtenerDatosdeEstadistica()" type="button" id="botonEstadisticas" >Mostrar Estadisticas</button>
        </div>
    </div>

    <div class="modal fade" id="estadisticasModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Estadisticas</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id = "VistaEstadisticas" class="modal-body">

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>