<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script type="text/javascript" src="/static/solicitudes.js"></script>
    <title>GEMA 💎 </title>
</head>
<body>

    <script>
        $(function() {

            $('input[type="checkbox"]').change(checkboxChanged);

            function checkboxChanged() {
                var $this = $(this),
                    checked = $this.prop("checked"),
                    container = $this.parent(),
                    siblings = container.siblings();

                container.find('input[type="checkbox"]')
                    .prop({
                        indeterminate: false,
                        checked: checked
                    })
                    .siblings('label')
                    .removeClass('custom-checked custom-unchecked custom-indeterminate')
                    .addClass(checked ? 'custom-checked' : 'custom-unchecked');

                checkSiblings(container, checked);
            }

            function checkSiblings($el, checked) {
                var parent = $el.parent().parent(),
                    all = true,
                    indeterminate = false;

                $el.siblings().each(function() {
                    return all = ($(this).children('input[type="checkbox"]').prop("checked") === checked);
                });

                if (all && checked) {
                    parent.children('input[type="checkbox"]')
                        .prop({
                            indeterminate: false,
                            checked: checked
                        })
                        .siblings('label')
                        .removeClass('custom-checked custom-unchecked custom-indeterminate')
                        .addClass(checked ? 'custom-checked' : 'custom-unchecked');

                    checkSiblings(parent, checked);
                }
                else if (all && !checked) {
                    indeterminate = parent.find('input[type="checkbox"]:checked').length > 0;

                    parent.children('input[type="checkbox"]')
                        .prop("checked", checked)
                        .prop("indeterminate", indeterminate)
                        .siblings('label')
                        .removeClass('custom-checked custom-unchecked custom-indeterminate')
                        .addClass(indeterminate ? 'custom-indeterminate' : (checked ? 'custom-checked' : 'custom-unchecked'));

                    checkSiblings(parent, checked);
                }
                else {
                    $el.parents("li").children('input[type="checkbox"]')
                        .prop({
                            indeterminate: true,
                            checked: false
                        })
                        .siblings('label')
                        .removeClass('custom-checked custom-unchecked custom-indeterminate')
                        .addClass('custom-indeterminate');
                }
            }
        });
    </script>

    {#    <img style= "width: auto; height:auto; opacity: 0.2; z-index:-1;" src="../static/bkg.jpg">#}


    <div class="row">
        <div class="col-md-12 header">
            <a href="OpcionesPrincipales.html"><i class="material-icons backA">chevron_left</i></a>
            <h1>Creación de Exámen</h1>
            <form id="formlogout" action="cerrarSesion" method="post">
                <a href="javascript:$('#formlogout').submit();" data-toggle="SignOutTooltip" data-placement="bottom" title="Cerrar Sesión"><i class="material-icons signO">exit_to_app</i></a>
            </form>
        </div>
    </div>
    <br>

    <br>

    <form action="loadInformacionExamen" method="post">
        <div class="row">
            <div class= "col-md-6 w3-container divX" id="Encabezado y Tipo">
                <select name="selectEncabezados" id="selectEncabezados" >
                    <option>Escoger Encabezado</option>
                    {% for encabezado in encabezados %}
                        <option value="{{ encabezado }}">{{encabezado.getId()}}-{{ encabezado.getCurso()}}</option>
                    {% endfor %}
                </select>

                <i onclick="desplegarModalEncabezados({{ encabezadosDict }})" id="descripcionDesplegar" class="fa fa-eye eyeI"></i> <br>

                <h3>Selección Única</h3>
                <input type = radio name = "tipoExamen" value="S">

                <h3>Desarrollo</h3>
                <input type = radio name = "tipoExamen" value="D">

                <h3>Práctica de Examen (Selección Única)</h3>
                <input type = radio name = "tipoExamen" value="PS">

                <h3>Práctica de Examen (Desarrollo)</h3>
                <input type = radio name = "tipoExamen" value="PD">

                <button onclick="loadInformacionExamen()" type="button" >Continuar</button>
            </div>
        </div>
    </form>
    <form action="generarExamen" method="post">
        <div class="row">
            <div class= "col-md-6 w3-container divX" id="Temas_Subtemas">
                <ul id ="allfather">
                    {% set indexItem = [] %}
                    {% set cantItem = [] %}
                    {% if infoExamen is defined %}
                        {% for tema in infoExamen[0]%}
                            <li>
                                <input type="checkbox" onclick="OcultAcordion('subtemas{{loop.index0}}')">
                                <label for="tall" class="custom-unchecked">{{tema.getTema()}}</label>
                                <div class = "w3-container w3-hide" id = "subtemas{{loop.index0}}">
                                    <ul>
                                        {% set loopTema = loop.index0%}
                                        {% set subtemasActuales = infoExamen[1][loopTema] %}
                                        {% for subtema in subtemasActuales %}
                                            <li>
                                                <input type="checkbox" name="tall" onclick="OcultAcordion('items{{loopTema}}-{{loop.index0}}')" >
                                                <label for="tall" class="custom-unchecked">{{subtema.getSubtema()}}</label>

                                                <div class = "w3-container w3-hide" id ="items{{loopTema}}-{{loop.index0}}">
                                                    <ul>
                                                        {% set itemsActuales = infoExamen[2][indexItem|length] %}
                                                        {% for item in itemsActuales %}
                                                            <li>
                                                                <input type="checkbox" value = "{{descripItems[cantItem|length]}},{{item.getId()}},{{item.getTipo()}}" name="items">
                                                                <label for="tall" class="custom-unchecked">{{item.getIdLargo()}}/Item{{item.getId()}}</label>
                                                                <i onclick="descripcionItemsExamen({{descripItems}},{{ cantItem|length }})" id="descripcionDesplegar" class="fa fa-eye eyeI"></i>
                                                            </li>
                                                            {% if cantItem.append(1)%} {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </div>

                                            </li>
                                            {% if indexItem.append(1)%} {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>

                            </li>

                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class= "col-md-6 w3-container divX" id="Generar PDF">
                <button style="height: 40px;" name = "solucionado" type="submit" value="1">Generar Examen Con Solución</button>
                <button style="height: 40px;" name = "solucionado" type ="submit" value = "0">Generar Examen Sin Solución</button>
            </div>
        </div>
    </form>

    <!-- Modal -->
    <div class="modal fade" id="modalItemExamen" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Descripción</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="descripcionModalExamen" class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="previsualizationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Previsualización de Encabezado</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id = "previewEncabezadoModal" class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
