<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Índice de Discriminación</title>
        <meta name="description" content="">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body>
        <div class="header">
            <button class="btnBack"><i class="material-icons" style="font-size: 50px;">arrow_back</i></button>
            <h1> Índice de Discriminación </h1>
        </div>
        <div>
           <form action="BuscarSubtemasItems" method="post">
              <label>Tema:</label>
                  <select onchange="this.form.submit()" name="selectBuscarTemaIndDis">
                      {% for tema in temas %}
                          {% if tema == temaFiltroItemIndice %}
                              <option selected> {{tema}}</option>
                          {% else %}
                              <option> {{tema}}</option>
                          {%endif%}
                      {% endfor %}
                  </select>
            <label>Subtema:</label>
            <select name="subtemaIndice">
                {% for subtema in subtemasItemIndice %}
                    <option> {{subtema}}</option>
                {% endfor %}
            </select>
            <input name = "buscarItems" class="btnSearch" type="submit" value="Buscar">
            </form>
            <table class="TablaIndice">
                <thead>
                   <tr>
                        <td>Identificador</td>
                        <td>Tipo</td>
                        <td>Puntaje</td>
                        <td>Índice de Discriminación</td>
                        <td>Consulta</td>
                    </tr>
                </thead>
                <tbody>
                {% for item in itemsFiltroIndice %}
                    <tr>

                        <td> {{item.getIdLargo()}}/Item {{ item.getId() }} </td>
                        <td> {{ item.getTipo() }} </td>
                        <td>{{ item.getPuntaje() }} </td>
                        <td>{{ item.getIndice() }} </td>
                        <td> </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="footer">
        </div>
    </body>
</html>
