<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Ítems de Examen</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="/static/popupDescripcion.css">
</head>
<body>

    <script>
        function desplegarDescripcion(descripcionesItems) {

            var select = document.getElementById("itemModiEli");

            if(select !== undefined) {
                var indice = select.selectedIndex;

                var popup = document.getElementById("myPopup");

                popup.innerHTML = descripcionesItems[indice]; //.getPuntaje();
                popup.classList.toggle("show");
            }
        }
    </script>

    <form action = "crudItemsAgregar" method="post">
        <label>Temas</label>
        <select onchange="this.form.submit()" name = "selectTemaItemAgregar">

            <option>Escoger Tema </option>
            {% for tema in temas %}

                    {% if (tema.getId()~"-"~tema.getTema()) == temaFiltroItemAgregar %}
                        <option selected> {{tema.getId()}}-{{tema.getTema()}}</option>
                    {% else %}
                        <option> {{tema.getId()}}-{{tema.getTema()}}</option>
                    {%endif%}

            {% endfor %}
        </select> <br>

        <label>Subtemas</label>
        <select name = "selectSubAgregar">
             <option>Escoger Subtema</option>
             {% for subtema in subtemasItemAgregar %}
                    <option> {{subtema.getId()}}-{{subtema.getSubtema()}}</option>
             {% endfor %}
        </select> <br>

        <label>Selección Única</label>
        <input type =radio name = "tiposItemAgregar" value = "S" checked>
        <label>Desarrollo</label>
        <input type =radio name = "tiposItemAgregar" value = "D">
        <label>Práctica de Examen</label>
        <input type =radio name = "tiposItemAgregar" value = "P"><br><br>

        <label>Inserte un ítem en formato LaTeX</label>
        <textarea name="descripcionItemAgregar"> </textarea> <br>

        <label>Puntaje </label>
        <input type = text name="puntajeAgregar"> <br>

        <input type = submit name = "accioncruditems" value = "Agregar Item"> <br><br><br>

    </form>


    <form action = "crudItemsModificar" method="post">
         <label>Temas</label>
        <select  onchange="this.form.submit()" name = "selectTemaItemModificar">
            <option>Escoger Tema</option>
            {% for tema in temas %}

                {% if (tema.getId()~"-"~tema.getTema()) == temaFiltroItemModificar %}
                    <option selected> {{tema.getId()}}-{{tema.getTema()}}</option>
                {% else %}
                    <option> {{tema.getId()}}-{{tema.getTema()}} </option>
                {%endif%}

            {% endfor %}
        </select> <br>

        <label>Subtemas</label>

        <select name = "selectSubModificar" onchange="this.form.submit()">
             <option>Escoger Subtema</option>
             {% for subtema in subtemasItemModificar %}
                    <option> {{subtema.getId()}}-{{subtema.getSubtema()}}</option>
             {% endfor %}
        </select> <br>

        <label>Seleccione un Ítem para Modificar o Eliminar</label>

        <select id="itemModiEli" name = "selectItemModificarEliminar">
            {% for item in itemsFiltro %}
                    <option> {{ item.getIdLargo() }}/Item{{ item.getId( )}} </option><br>
            {% endfor %}

        </select> <div class="popup">
        <i onclick="desplegarDescripcion( {{ descripItems }} )" class="fa fa-eye " style="font-size:30px"> </i>
            <span class="popuptext" id="myPopup">Popup text...</span>
        </div><br>


        <label>Selección Única</label>
        <input type =radio name = "tiposItemModificar" value = "S">
        <label>Desarrollo</label>
        <input type =radio name = "tiposItemModificar" value = "D">
        <label>Práctica de Examen</label>
        <input type =radio name = "tiposItemModificar" value = "P"><br><br>

        <label>Inserte un ítem en formato LaTeX</label>
        <textarea name="descripcionItemModificar"> </textarea> <br>

        <label>Puntaje </label>
        <input type = text name="puntajeModificar"> <br>

        <input type = submit name = "accioncruditems" value = "Modificar Item">

        <input type = submit name = "accioncruditems" value = "Eliminar Item">

    </form>
</body>
</html>