<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Encabezado</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>
</head>
<body>
    <form method="post" action="CRUDEncabezado" name=" formEncabezado">
    <div id="Top"  >
        <h1> Configuración de encabezado</h1>
    </div>

    <div id="Izquierda">
        <label>Instrucciónes de examen</label>
        <!-- Agregar instrucciones -->
        <br>
        <textarea rows="6" id="txtInstrucciones" > Aqui van las instrucciones del examen</textarea>
        <br>
        <label>Periodo:</label>
        <select>
            {% for periodo in periodos  %}
                <option>{{periodo.getDescPeriodo()}}  </option>
            {% endfor %}
        </select>
        <br>
        <label>Año:</label>
        <input type = "date">
        <br>
        <label>Tiempo</label>
        <input type= "time">
        <br>
        <label>Tipo</label>
        <select>
            {% for tipo in tiposExamen  %}
                <option>{{tipo.getDescTipo()}}  </option>
            {% endfor %}
        </select>

    </div>

    <div id="imagen1">
        <img src="" alt="Previsualización" style="border-color: black">
    </div>
    <div id="Bottom">

    </div>
            <div class="modal fade" id="previsualizationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <img src="static/Preview.png" alt="Previzualización" style="border-color: black">
                  </div>
            <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

    <div id = Botones>
    <button type="button" data-toggle="modal" data-target="#previsualizationModal" id="botonPreview">Preview</button>
        <!--<button type="button" data-toggle="modal" data-target="#previsualizationModal"  >Launch modal</button> -->
    <button type="button" class="btn btn-primary" id = "botonGuardar">Guardar</button>
    </div>

    <script>

        $(document).ready(function(){
        $("botonPreview").click(function(){
            var comment = $.trim($("#txtInstrucciones").val());
            if(comment != ""){
                // Show alert dialog if value is not blank
                alert(comment);
            }
        });

    });
    </script>
    </form>

    <div id="footer">
      <img style = "background-color: rgb(0, 0, 0, 0.7); width: 30%; height: 20%;" src="../static/TECB.png" alt="Tecnológico de Costa Rica">
    </div>
</body>
</html>
