<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Ítems de Examen</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="/static/popupWindow.css">
</head>
<body>

    <script>
        function funcion(descripcionesItems) {

            var select = document.getElementById("itemModiEli")
            var indice = select.selectedIndex

            var popup = document.getElementById("myPopup")

            popup.innerHTML = descripcionesItems[indice]
            popup.classList.toggle("show");

        }
    </script>

    <form action = "crudItemsAgregar" method="post">
        <label>Temas</label>
        <select onchange="this.form.submit()" name = "selectTemaItemAgregar">
            {% for tema in temas %}

                    {% if tema == temaFiltroItemAgregar %}
                        <option selected> {{tema}}</option>
                    {% else %}
                        <option> {{tema}}</option>
                    {%endif%}

                {% endfor %}
        </select> <br>

        <label>Subtemas</label>
        <select name = "selectSubAgregar">
             {% for subtema in subtemasItemAgregar %}
                    <option> {{subtema}}</option>
             {% endfor %}
        </select> <br>

        <label>Selección Única</label>
        <input type =radio name = "tiposItemAgregar" value = "S">
        <label>Desarrollo</label>
        <input type =radio name = "tiposItemAgregar" value = "D">
        <label>Práctica de Examen</label>
        <input type =radio name = "tiposItemAgregar" value = "P"><br><br>

        <label>Inserte un ítem en formato LaTeX</label>
        <textarea name="descripcionItemAgregar"> </textarea> <br>

        <label>Puntaje </label>
        <input type = text name="puntajeAgregar"> <br>

        <input type = submit name = "accioncruditems" value = "Agregar Item"> <br><br><br>

    </form>


    <form action = "crudItemsModificar" method="post">
         <label>Temas</label>
        <select  onchange="this.form.submit()" name = "selectTemaItemModificar">
            {% for tema in temas %}

                    {% if tema == temaFiltroItemModificar %}
                        <option selected> {{tema}}</option>
                    {% else %}
                        <option> {{tema}}</option>
                    {%endif%}

                {% endfor %}
        </select> <br>

        <label>Subtemas</label>
        <select name = "selectSubModificar" onchange="this.form.submit()">
             {% for subtema in subtemasItemModificar %}
                    <option> {{subtema}}</option>
             {% endfor %}
        </select> <br>

        <label>Seleccione un Ítem para Modificar o Eliminar</label>

        <select id="itemModiEli" name = "selectItemModificarEliminar">
            {% for item in itemsFiltro %}
                    <option> {{item}} </option><br>
            {% endfor %}

        </select><br> <i onclick="funcion3()" class="fa fa-eye" style="font-size:30px"></i>

        <div class="popup" onclick="funcion( {{ objetosItemsFil }} )">Click me!
            <span class="popuptext" id="myPopup">Popup text...</span>
        </div>

        <label>Selección Única</label>
        <input type =radio name = "tiposItemModificar" value = "S">
        <label>Desarrollo</label>
        <input type =radio name = "tiposItemModificar" value = "D">
        <label>Práctica de Examen</label>
        <input type =radio name = "tiposItemModificar" value = "P"><br><br>

        <label>Inserte un ítem en formato LaTeX</label>
        <textarea name="descripcionItemModificar"> </textarea> <br>

        <label>Puntaje </label>
        <input type = text name="puntajeModificar"> <br>

        <input type = submit name = "accioncruditems" value = "Modificar Item">

        <input type = submit name = "accioncruditems" value = "Eliminar Item">

    </form>
</body>
</html>