<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script type="text/javascript" src="/static/solicitudes.js"></script>
    <title>GEMA 💎 </title>
</head>
<body>

    <img class= "imgs" src="../static/bkg.jpg">


    <div class="col-md-12 header">
        <a href="/OpcionesPrincipales"><i class="material-icons backA">chevron_left</i></a>
        <h1>Gestión de Encabezado</h1>
        <form id="formlogout" action="cerrarSesion" method="post">
            <a href="javascript:$('#formlogout').submit();" data-toggle="SignOutTooltip" data-placement="bottom" title="Cerrar Sesión"><i class="material-icons signO">exit_to_app</i></a>
        </form>
    </div>

    <form method="post" action="guardarEncabezado" name="formEncabezado">
        <div class = "col-md-6 w3-container divs">
            <div>
                <h2>Instrucciones de examen</h2>
                <!-- Agregar instrucciones -->

                <textarea rows="6" id="instruccionesEncabezado" name="txtInstrucciones" placeholder="INSTRUCCIONES:"> </textarea>

                <h3>Periodo:</h3>
                <select id="selectPeriodo" name="selectPeriodo">
                    {% for periodo in periodos  %}
                        <option>{{ periodo.getId() }}-{{periodo.getDescPeriodo()}}  </option>
                    {% endfor %}
                </select>

                <h3>Año:</h3>
                <input id="fechaEncabezado" type="number" min="1900" max="4000" step="1" name = "inputFecha" />

                <h3>Duración del Examen:</h3>
                <div style="display: flex;">
                    <input id="tiempoEncabezadoHoras" name="tiempoEncabezadoHoras" type="number" style="width: 44%; margin-right: 2%;" placeholder="Horas" min="0"/>
                    <input id="tiempoEncabezadoMinutos" name="tiempoEncabezadoMinutos" type="number" style="width: 44%;" placeholder="Minutos" min="1"/>
                </div>

                <h3>Tipo</h3>
                <select id ="selectTipo" name = selectTipo>
                    {% for tipo in tiposExamen  %}
                        <option>{{ tipo.getId() }}-{{tipo.getDescTipo()}}  </option>
                    {% endfor %}
                </select>

            </div>

            <div id = Botones>

                <button onclick="previewEncabezado()" type="button" id="botonPreview" value="PreviewEncabezado">Preview</button>

                <button type="submit" onclick="return validarEncabezado()" id = "botonGuardar" name="AccionEncabezado" value="GuardarEncabezado" >Guardar</button>
            </div>
        </div>
    </form>

    <div class="modal fade" id="previsualizationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLabel">Previsualización de Encabezado</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id = "previewEncabezadoModal" class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary modalB" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
