<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script type="text/javascript" src="/static/solicitudes.js"></script>
    <title>GEMA 💎 </title>
</head>
<body>

    {#    <img style= "width: auto; height:auto; opacity: 0.2; z-index:-1;" src="../static/bkg.jpg">#}


    <div class="row">
        <div class="col-md-12 header">
            <a href="OpcionesPrincipales.html"><i class="material-icons backA">chevron_left</i></a>
            <h1>Gestión de Exámenes</h1>
            <form id="formlogout" action="cerrarSesion" method="post">
                <a href="javascript:$('#formlogout').submit();" data-toggle="SignOutTooltip" data-placement="bottom" title="Cerrar Sesión"><i class="material-icons signO">exit_to_app</i></a>
            </form>
        </div>
    </div>
    <br>

    <div id = "TExamen">

        <form action="">
            <input type="radio" name="TipoE" value="Selección Unica">Selección Unica<br>
            <input type="radio" name="TipoE" value="Desarrollo">Desarrollo<br>
        </form>

    </div>

    <div id ="Temas">

    </div>

    <div id = "Subtemas">

    </div>

    <div id ="Ítems">

    </div>

    <div>
        <button> Regresar a Construcción de Examen</button>
    </div>

</body>
</html>
