<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script type="text/javascript" src="/static/solicitudes.js"></script>
    <title>GEMA 💎 </title>
</head>
<body>

    {#    <img style= "width: auto; height:auto; opacity: 0.2; z-index:-1;" src="../static/bkg.jpg">#}


    <div class="row">
        <div class="col-md-12 header">
            <a href="OpcionesPrincipales.html"><i class="material-icons backA">chevron_left</i></a>
            <h1>Gestión de Items</h1>
            <a href="/" data-toggle="SignOutTooltip" data-placement="bottom" title="Cerrar Sesión"><i class="material-icons signO">exit_to_app</i></a>
        </div>
    </div>
    <br>

    <form action = "crudItemsAgregar" method="post">
        <label>Temas</label>
        <select onchange="obtenerSubtemas(this,'selectSubAgregar')" name = "selectTemaItemAgregar">

            <option>Escoger Tema </option>

            {% for tema in temas %}
                <option> {{tema.getId()}}-{{tema.getTema()}}</option>
            {% endfor %}

        </select> <br>

        <label>Subtemas</label>

        <select id = "selectSubAgregar" name = "selectSubAgregar">
            <option>Escoger Subtema</option>
        </select> <br>

        <label>Selección Única</label>
        <input type =radio name = "tiposItemAgregar" value = "S" checked>
        <label>Desarrollo</label>
        <input type =radio name = "tiposItemAgregar" value = "D">
        <label>Práctica de Examen</label>
        <input type =radio name = "tiposItemAgregar" value = "P"><br><br>

        <label>Inserte un ítem en formato LaTeX</label>
        <textarea name="descripcionItemAgregar"> </textarea> <br>

        <label>Puntaje </label>
        <input type = text name="puntajeAgregar"> <br>

        <input type = submit name = "accioncruditems" value = "Agregar Item"> <br><br><br>

    </form>


    <form action = "crudItemsModificar" method="post">
        <label>Temas</label>
        <select  onchange="obtenerSubtemas(this,'selectSubModificar')" name = "selectTemaItemModificar">
            <option>Escoger Tema</option>
            {% for tema in temas %}

                <option> {{tema.getId()}}-{{tema.getTema()}} </option>

            {% endfor %}
        </select> <br>

        <label>Subtemas</label>

        <select id = "selectSubModificar" name = "selectSubModificar" onchange="obtenerItems(this,'parcial','itemModiEli','descripcionDesplegar'
            ,'itemModiEli')">
        </select> <br>

        <label>Seleccione un Ítem para Modificar o Eliminar</label>

        <select onchange="cargarDatosModificar(this)" id="itemModiEli" name = "selectItemModificarEliminar">

        </select>

        <i id="descripcionDesplegar" class="fa fa-eye"></i>
        <br>

        <label>Selección Única</label>
        <input type =radio name = "tiposItemModificar" value = "S">
        <label>Desarrollo</label>
        <input type =radio name = "tiposItemModificar" value = "D">
        <label>Práctica de Examen</label>
        <input type =radio name = "tiposItemModificar" value = "P"><br><br>

        <label>Inserte un ítem en formato LaTeX</label>
        <textarea id = "descItemMod" name="descripcionItemModificar"> </textarea> <br>

        <label>Puntaje </label>
        <input id ="puntajeMod" type = text name="puntajeModificar"> <br>

        <input type = submit name = "accioncruditems" value = "Modificar Item">

        <input type = submit name = "accioncruditems" value = "Eliminar Item">

    </form>

    <!-- Modal -->
    <div class="modal fade" id="modalItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Descripción</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="descripcionModal" class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
