<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script type="text/javascript" src="/static/solicitudes.js"></script>
    <title>GEMA 💎 </title>
</head>
<body>

    <img class= "imgs" src="../static/bkg.jpg">


    <div class="col-md-12 header">
        <a href="/OpcionesPrincipales"><i class="material-icons backA">chevron_left</i></a>
        <h1>Temas y Subtemas</h1>
        <form id="formlogout" action="cerrarSesion" method="post">
            <a href="javascript:$('#formlogout').submit();" data-toggle="SignOutTooltip" data-placement="bottom" title="Cerrar Sesión"><i class="material-icons signO">exit_to_app</i></a>
        </form>
    </div>

    <form method="post" action="crudTemasSubtemas" name="formTemasSubtemas" >
        <div class= "col-md-6 w3-container divs">
            <nav class = "nav-justified">
                <div class="nav nav-tabs navs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-AgregarTema-tab" data-toggle="tab" href="#nav-AgregarTema" role="tab" aria-controls="nav-AgregarTema" aria-selected="true">Agregar Tema</a>
                    <a class="nav-item nav-link" id="nav-ModificarEliminarTemas-tab" data-toggle="tab" href="#nav-ModificarEliminarTemas" role="tab" aria-controls="nav-ModificarEliminarTemas" aria-selected="false">Gestión Temas</a>
                    <a class="nav-item nav-link" id="nav-AgregarSubTema-tab" data-toggle="tab" href="#nav-AgregarSubTema" role="tab" aria-controls="nav-AgregarSubTema" aria-selected="false">Agregar Subtema</a>
                    <a class="nav-item nav-link" id="nav-ModificarEliminarSubTemas-tab" data-toggle="tab" href="#nav-ModificarEliminarSubTemas" role="tab" aria-controls="nav-ModificarEliminarSubTemas" aria-selected="false">Gestión Subtemas</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane tabs fade show active" id="nav-AgregarTema" role="tabpanel" aria-labelledby="nav-AgregarTema-tab">
                    <input id="temaNuevo" type = text name = "temaNuevo" placeholder="Nombre"> <br>
                    <input type = submit onclick = "return validarTema('temaNuevo')" name = "accioncrudtemassubtemas" value = "Agregar Tema">
                </div>
                <div class="tab-pane tabs fade" id="nav-ModificarEliminarTemas" role="tabpanel" aria-labelledby="nav-ModificarEliminarTemas-tab">
                    <h3>Seleccionar Tema</h3>

                    <select id ="selectTemaModEli" name = "selectTemaModEli">
                        <option>Escoger Tema </option>
                        {% for tema in temas %}
                            <option> {{ tema.getId()}}-{{tema.getTema()}}</option>
                        {% endfor %}
                    </select>
                    <br>

                    <h3>Cambiar Nombre</h3><br>
                    <input type = text id="nuevoModificarTema" name = nuevoModificarTema> <br>

                    <input type = submit onclick="return validarModTema()" name = "accioncrudtemassubtemas" value = "Modificar Tema"><br>

                    <input type = submit onclick="return validarSelectTema('selectTemaModEli')" name = "accioncrudtemassubtemas" value = "Eliminar Tema">
                </div>
                <div class="tab-pane tabs fade" id="nav-AgregarSubTema" role="tabpanel" aria-labelledby="nav-AgregarSubTema-tab">
                    <h3>Seleccionar Tema</h3>

                    <select id ="selectTemaAddSub" name = "selectTema">
                        <option>Escoger Tema </option>
                        {% for tema in temas %}
                            <option> {{ tema.getId()}}-{{tema.getTema()}} </option>
                        {% endfor %}
                    </select> <br>

                    <h3> Nuevo Subtema </h3> <br>
                    <input id = "subtemaNuevo" type = text name = "subtemaNuevo"><br>
                    <input type = submit onclick="return validarAddSubtema()" value = "Agregar Subtema" name = "accioncrudtemassubtemas">
                </div>
                <div class="tab-pane tabs fade" id="nav-ModificarEliminarSubTemas" role="tabpanel" aria-labelledby="nav-ModificarEliminarSubTemas-tab">
                    <div>
                        <h3>Seleccionar Tema</h3>
                        <select name = "selectTemaSub" onchange="obtenerSubtemas(this,'selectSubModificar')">

                            <option>Escoger Tema </option>
                            {% for tema in temas %}
                                <option>{{ tema.getId()}}-{{tema.getTema()}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div>
                        <h3>Seleccionar Subtema</h3>
                        <select id = "selectSubModificar" name = "selectSub">
                        </select>
                        <br>
                    </div>

                    <h3>Cambiar Nombre </h3> <br>

                    <input id = "nuevoModificarSubtema" type = text name = nuevoModificarSubtema><br>

                    <input type = submit onclick="return validarModSubtema()" name = "accioncrudtemassubtemas" value = "Modificar Subtema"><br>

                    <input type = submit onclick="return validarSelectSubtema('selectSubModificar')" name = "accioncrudtemassubtemas" value = "Eliminar Subtema">

                </div>
            </div>
        </div>
    </form>

    </body>
</html>
