<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Temas y Subtemas</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/solicitudes.js"></script>
</head>
<body>

  <div id="header">
    <a href="ConstruirExamen.html"><i class="material-icons" style="font-size: 30px;">arrow_back</i></a>
    <h1>Agregar Temas</h1>
  </div>
<br>

<form method="post" action="crudTemasSubtemas" name="formTemasSubtemas" >
    <div class = "divG">
        <label>Nuevo Tema </label>
        <input type = text name = "temaNuevo"> <br>
        <input type = submit name = "accioncrudtemassubtemas" value = "Agregar Tema">
    </div>

    <div class = "divG">
        <label>Agregar Subtemas </label> <br>

        <label>Seleccionar Tema</label>

        <select name = "selectTema">
            <option>Escoger Tema </option>
            {% for tema in temas %}
                <option> {{ tema.getId()}}-{{tema.getTema()}} </option>
            {% endfor %}
        </select> <br>

        <label> Nuevo Subtema </label> <br>
        <input type = text name = "subtemaNuevo"><br>
        <input type = submit value = "Agregar Subtema" name = "accioncrudtemassubtemas">
    </div>

    <div class = "divG">
        <label>Modificar y Eliminar Temas</label><br>
        <label>Seleccionar Tema</label>

        <select name = "selectTemaModEli">
            <option>Escoger Tema </option>
            {% for tema in temas %}
                <option> {{ tema.getId()}}-{{tema.getTema()}}</option>
            {% endfor %}

        </select><br>

        <label>Cambiar Nombre</label><br>
        <input type = text name = nuevoModificarTema> <br>

        <input type = submit name = "accioncrudtemassubtemas" value = "Modificar Tema"><br>

        <input type = submit name = "accioncrudtemassubtemas" value = "Eliminar Tema">
    </div>

    <div class = "divG">

        <label>Modificar Subtemas</label><br>

        <div>
            <label>Seleccionar Tema</label>
            <select  name = "selectTemaSub" onchange="obtenerSubtemas(this,'selectSubModificar')">

                <option>Escoger Tema </option>
                {% for tema in temas %}
                    <option>{{ tema.getId()}}-{{tema.getTema()}}</option>
                {% endfor %}

            </select>
        </div>

        <div>
            <label>Seleccionar Subtema</label>
            <select id = "selectSubModificar" name = "selectSub">

            </select><br>
        </div>

        <label>Cambiar Nombre </label> <br>

        <input type = text name = nuevoModificarSubtema><br>

        <input type = submit name = "accioncrudtemassubtemas" value = "Modificar Subtema"><br>

        <input type = submit name = "accioncrudtemassubtemas" value = "Eliminar Subtema">

    </div>

</form>

<div id="footer">
  <img style = "background-color: rgb(0, 0, 0, 0.7); width: 30%; height: 20%;" src="../static/TECB.png" alt="Tecnológico de Costa Rica">
</div>

</body>
</html>
