<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script type="text/javascript" src="/static/solicitudes.js"></script>
    <title>GEMA 💎 </title>
</head>
<body>

    <img class= "imgs" src="../static/bkg.jpg">


    <div class="col-md-12 header">
        <a href="OpcionesPrincipales.html"><i class="material-icons backA">chevron_left</i></a>
        <h1>Gestión de Respuestas</h1>
        <form id="formlogout" action="cerrarSesion" method="post">
            <a href="javascript:$('#formlogout').submit();" data-toggle="SignOutTooltip" data-placement="bottom" title="Cerrar Sesión"><i class="material-icons signO">exit_to_app</i></a>
        </form>
    </div>

    <div class= "col-md-6 w3-container divs">
        <nav class = "nav-justified">
            <div class="nav nav-tabs navs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-AgregarRespuestas-tab" data-toggle="tab" href="#nav-AgregarRespuestas" role="tab" aria-controls="nav-AgregarRespuestas" aria-selected="true">Agregar Respuestas</a>
                <a class="nav-item nav-link" id="nav-ModificarEliminarRespuestas-tab" data-toggle="tab" href="#nav-ModificarEliminarRespuestas" role="tab" aria-controls="nav-ModificarEliminarRespuestas" aria-selected="false">Gestión Respuestas</a>
            </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane tabs fade show active" id="nav-AgregarRespuestas" role="tabpanel" aria-labelledby="nav-AgregarRespuestas-tab">
                <form action="crudRespuestasAgregar" method="post">
                    <label>Tema</label>
                    <select onchange="obtenerSubtemas(this,'selectSubAgregarResp')" name="selectTemaRespAgregar">
                        <option>Escoger Tema</option>

                        {% for tema in temas %}
                            <option> {{ tema.getId()}}-{{tema.getTema()}} </option>
                        {% endfor %}

                    </select><br>

                    <label>Subtemas</label>

                    <select id = "selectSubAgregarResp" name="selectSubAgregarResp" onchange="obtenerItemsRespuestas(this,'SinResp','selectItemRespAgregar','despDescAddResp')">

                    </select><br>

                    <label>Ítems</label>

                    <select onchange="mostrarAddRespuestas(this)" id = "selectItemRespAgregar" name = "selectItemRespAgregar">

                    </select><br>

                    <i id="despDescAddResp" class="fa fa-eye"></i> <br>

                    <h2>Respuestas</h2>
                    <div hidden id = "divrespAddSelect">
                        <input type="text" name="Arespuesta1" placeholder="respuesta1">
                        <input type="radio" name="Arespuesta" value=1 checked><br>
                        <input type="text" name="Arespuesta2" placeholder="respuesta2">
                        <input type="radio" name="Arespuesta" value=2><br>
                        <input type="text" name="Arespuesta3" placeholder="respuesta3">
                        <input type="radio" name="Arespuesta" value=3><br>
                        <input type="text" name="Arespuesta4" placeholder="respuesta4">
                        <input type="radio" name="Arespuesta" value=4><br>

                    </div>

                    <div hidden id = "divrespAddDesarrollo">
                        <textarea name = "respAddDesarrollo"> </textarea>
                    </div>

                    <input hidden id="botonAddResp" name = "respuestasAdd" class="btnSearch" type="submit" value="Agregar Respuestas">
                </form>
            </div>
            <div class="tab-pane tabs fade" id="nav-ModificarEliminarRespuestas" role="tabpanel" aria-labelledby="nav-ModificarEliminarRespuestas-tab">
                <form action="crudRespuestasModificar" method="post">
                <label>Tema</label>
                <select onchange="obtenerSubtemas(this,'selectSubModificarResp')" name="selectTemaRespModificar">
                    <option>Escoger Tema</option>

                    {% for tema in temas %}
                        <option> {{tema.getId()}}-{{tema.getTema()}}</option>
                    {% endfor %}

                </select><br>

                <label>Subtemas</label>

                <select id="selectSubModificarResp" name="selectSubModificarResp" onchange="obtenerItemsRespuestas(this,'ConResp','selectItemRespModificar',
                    'despDescModResp')">

                </select><br>

                <label>Ítems</label>
                <select onchange="cargarRespuestasModificar(this)" id = "selectItemRespModificar" name = "selectItemRespModificar">

                </select><br></select>

                <i id="despDescModResp" class="fa fa-eye"></i> <br><br>

                <div id="divrespModSelect" hidden>
                    <h1>Respuestas</h1>
                    <input id ="Mrespuesta1" type="text" name="Mrespuesta1" placeholder="respuesta1">

                    <input type="radio" name="Mrespuesta" value=1><br>

                    <input id ="Mrespuesta2" type="text" name="Mrespuesta2" placeholder="respuesta2">

                    <input type="radio" name="Mrespuesta" value=2><br>

                    <input id ="Mrespuesta3" type="text" name="Mrespuesta3" placeholder="respuesta3">

                    <input type="radio" name="Mrespuesta" value=3><br>

                    <input id ="Mrespuesta4" type="text" name="Mrespuesta4" placeholder="respuesta4">

                    <input type="radio" name="Mrespuesta" value=4><br>

                </div>

                <div id = "divrespModDesarrollo" hidden>
                    <textarea id = "respModDesarrollo" name = "respModDesarrollo" ></textarea>
                </div>

                <input hidden id = "botonModResp" name = "respuestasMod" class="btnSearch" type="submit" value="Modificar Respuestas">
            </form>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLabel">Descripción</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="descripcionModal" class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary modalB" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
