<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gestión de examenes</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
</head>
<body>

    <div id = "Top">
        <h1>Seleccion de items de examenes</h1>

    </div>

    <div id = "TExamen">

        <form action="">
          <input type="radio" name="TipoE" value="Selección Unica">Selección Unica<br>
          <input type="radio" name="TipoE" value="Desarrollo">Desarrollo<br>
        </form>

    </div>

    <div id ="Temas">

    </div>

    <div id = "Subtemas">

    </div>

    <div id ="Ítems">

    </div>

    <div>
        <button> Regresar a Construcción de Examen</button>
    </div>

    <div id="footer">
      <img style = "background-color: rgb(0, 0, 0, 0.7); width: 30%; height: 20%;" src="../static/TECB.png" alt="Tecnológico de Costa Rica">
    </div>
</body>
</html>
