<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Encabezado</title>
    <link rel="stylesheet" type="text/css" href="../static/Encabezado_style.css">
</head>
<body>

    <div id="Top" "style= background-color:blue;" >
        <h1 style= "font-size:300%; "> Configuración de encabezado</h1>
    </div>

    <div id="Izquierda">
        <label>Instrucciónes de examen</label>
        <!-- Agregar instrucciones -->
        <br>
        <textarea rows=" 5" > Aqui van las instrucciones del examen</textarea>
        <label>Periodo:</label>
        <br>
        <label>Año:</label>
        <br>
        <label>Tiempo</label>
        <br>
        <label>Tipo</label>

    </div>

    <div id="Bottom">

    </div>


    <div>
    <button>Previzualizar</button>
    <button>Guardar</button>
    </div>

</body>
</html>