<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script type="text/javascript" src="/static/solicitudes.js"></script>
    <title>GEMA 💎 </title>
</head>
<body>
    <img class= "imgs" src="../static/bkg.jpg">

    <div class="col-md-12 header">
        <a href="/OpcionesPrincipales"><i class="material-icons backA">chevron_left</i></a>
        <h1>Juego en Clase</h1>
        <form id="formlogout" action="cerrarSesion" method="post">
            <a href="javascript:$('#formlogout').submit();" data-toggle="SignOutTooltip" data-placement="bottom" title="Salir"><i class="material-icons signO">exit_to_app</i></a>
        </form>
    </div>

    <form action="juegoActividadDatos" method="post" id="juegoActividadForm">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner">

                {% for imagen in imagenes %}
                    {% set indexRespBuena =itemsJuego[loop.index0][1].getRespuestaCorrecta() - 1  %}
                    {% set respuestaActual = itemsJuego[loop.index0][1].getRespuestas()[indexRespBuena] %}
                    {% set puntajeItem = itemsJuego[loop.index0][0].getPuntaje() %}
                    {% if loop.index0 ==0 %}
                        <div class= "col-md-10 w3-container divSlidG carousel-item active">
                        <h1 id ="Ejercicio{{loop.index}}"> </h1>
                            <img class="imgJuego" src="../static/{{ imagen }}">

                            <div style="display: flex;">
                                {% if tipoJuego == "1" %}
                                    <button style="width: 30%; margin:0% 2% 0% 19%"  onclick="iniciarCronometro(this,{{ cantTiempo }},'Ejercicio{{loop.index}}','{{ respuestaActual }}')" type="button">Iniciar Tiempo</button>
                                {% else %}
                                    <button style="width: 30%; margin:0% 2% 0% 19%"  onclick="mostrarRespuestaJuego('{{ respuestaActual }}')" type="button">Mostrar Respuesta</button>
                                {% endif %}

                                <button style="width: 30%; margin: 0% 2% 0% 0%;" onclick="mostrarEquiposCalificar('{{ puntajeItem }}')" type="button">Calificar</button>
                            </div>

                            </br>
                        </div>

                    {% else %}
                        <div class= "col-md-10 w3-container divSlidG carousel-item" >
                            <h1 id ="Ejercicio{{loop.index}}"> </h1>
                            <img class="imgJuego" src="../static/{{ imagen }}">

                            <div style="display: flex;">
                                {% if tipoJuego == "1" %}
                                    <button style="width: 30%; margin:0% 2% 0% 19%"  onclick="iniciarCronometro(this,{{ cantTiempo }},'Ejercicio{{loop.index}}','{{ respuestaActual }}')" type="button">Iniciar Tiempo</button>
                                {% else %}
                                    <button style="width: 30%; margin:0% 2% 0% 19%"  onclick="mostrarRespuestaJuego('{{ respuestaActual }}')" type="button">Mostrar Respuesta</button>
                                {% endif %}
                                <button style="width: 30%; margin: 0% 2% 0% 0%;" onclick="mostrarEquiposCalificar('{{ puntajeItem }}')" type="button">Calificar</button>
                            </div>

                            </br>
                        </div>
                    {% endif %}
                {% endfor %}

                <div class= "col-md-10 w3-container divSlidG carousel-item">
                    <button type="button" onclick="mostrarScoreboard()">Scoreboard</button>
                </div>
            </div>

            <a class="carousel-control-prev aSLG" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next aSRG" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </form>

<div class="modal fade" id="modalCalificar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title" id="exampleModalLabel">Respuesta Correcta</h2>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div id='descripcionCalificar' class="modal-body">
                            <select class="modalI" id="selectEquipos">

                            </select> <br>

                            <button id="botonCalificar" type="button" class="modalB">Calificar</button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary modalB" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>


<div class="modal fade" id="modalScoreboard" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title" id="exampleModalLabel">Scoreboard</h2>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div id='descripcionScoreboard' class="modal-body">
                            <table id="tablaScoreboard" class="table-striped">
                                <thead>
                                <tr>
                                    <th>Equipo</th>
                                    <th>Puntaje</th>
                                </tr>
                                </thead>
                                <tbody id="tablaScoreboardBody">

                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary modalB" onclick="finalizarSesion()" id="FinalizarJuego">Finalizar Juego</button>
                            <button type="button" class="btn btn-secondary modalB" data-dismiss="modal" id="CerrarScoreboard">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

</body>
</html>
