<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <form action="login" method="post" id="LogInForm">
        <div class="LogIn">
            <input name ="correo" class="inputs" type="email" placeholder="Email: "/>
            </br>
            <input name="contrasenna" class="inputs" type="password" placeholder="Password: " />
            </br>
            <button type="submit" style="margin-left: 70%;" class= "buttons"> Log In </button>
        </div>
    </form>

    <div id="footer">
        <img style = "width: 40%; height: 30%;" src="../static/TEC.png" alt="Tecnológico de Costa Rica">
    </div>

</body>
</html>
