<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script type="text/javascript" src="/static/solicitudes.js"></script>
    <title>GEMA 💎 </title>
</head>
<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="CRUDIndiceDiscriminacion.html">Índice de Discriminación</a>
        <button onclick="OcultAcordion('CreacionExamen')" class="aFake"> Construir Exámen <i class="fa fa-caret-down" aria-hidden="true"></i></button>
        <div id="CreacionExamen" class="w3-container w3-hide">
            <a href="CRUDEncabezado.html"> Configurar Encabezado</a>
            <a href="CRUDTemasSubtemas.html">Gestión de Temas y Subtemas</a>
            <a href="CRUDItems.html"> Gestión de Ítems</a>
            <a href="CRUDRespuestas.html"> Gestión de Respuestas</a>
            <a href="CreacionExamen.html"> Creación Examen</a>
        </div>
        <a href="CompartirExamenes.html"> Compartir Exámenes</a>
    </div>

    <img style= "width: auto; height:auto; opacity: 0.2; z-index:-1;" src="../static/bkg.jpg">

    <div class="row">
        <div class="col-md-12 header">
            <a href="/" data-toggle="SignOutTooltip" data-placement="bottom" title="Cerrar Sesión"><i class="material-icons signO">exit_to_app</i></a>
            <h1>Bienvenido, {{nombre}}!</h1>
        </div>
    </div>

    <button class= "titulo" id= "titulo" onclick="openNav()">
        GEMA
        </br>
        <span class="fa fa-gem"></span>
    </button>

    <div class="footerP">
        <img style = " width: 50%; height: 40%;" src="../static/TEC.png" alt="Tecnológico de Costa Rica">
    </div>

    <script>
        $(document).ready(function(){
            $('[data-toggle="SignOutTooltip"]').tooltip();
        });
    </script>
</body>
</html>
