<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script type="text/javascript" src="/static/solicitudes.js"></script>
    <title>GEMA 💎 </title>
</head>
<body>

    {#    <img style= "width: auto; height:auto; opacity: 0.2; z-index:-1;" src="../static/bkg.jpg">#}


    <div class="row">
        <div class="col-md-12 header">
            <a href="OpcionesPrincipales.html"><i class="material-icons backA">chevron_left</i></a>
            <h1>Sugerencia de Edición</h1>
            <a href="/" data-toggle="SignOutTooltip" data-placement="bottom" title="Cerrar Sesión"><i class="material-icons signO">exit_to_app</i></a>
        </div>
    </div>
    <br>

    <div>
        <form action="buscarItemsSugerencia" method="post">
            <label>Tema:</label>

            <select onchange="obtenerSubtemas(this,'subtemaSugerencia')" name="temaSugerencia">
                <option>Escoger Tema</option>
                {% for tema in temasItemEdicion %}
                    <option> {{ tema.getId()}}-{{tema.getTema()}}</option>
                {% endfor %}
            </select>

            <label>Subtema:</label>

            <select id = "subtemaSugerencia" name="subtemaSugerencia">

            </select>

            <input name = "buscarItems" class="btnSearch" type="submit" value="Buscar">
        </form>
        <table id= "tablaSugerencia" class="TablaSugerencia">
            <thead>
            <tr>
                <td>Identificador</td>
                <td>Tipo</td>
                <td>Puntaje</td>
                <td>Índice de Discriminación</td>
                <td>Realizar Sugerencia</td>
            </tr>
            </thead>
            <tbody>
            {% for item in itemsFiltroSugerencia %}
                <tr>
                    <td>{{item.getIdLargo()}}/Item{{ item.getId() }}</td>
                    <td>{{ item.getTipo() }}</td>
                    <td>{{ item.getPuntaje() }}</td>
                    <td>{{ item.getIndice() }}</td>
                    <td> <button class="consult-button" onclick="desplegarModalSugerencia(this,{{ descripItems }})">Realizar Sugerencia</button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    <!-- Modal -->
    <form action="sugerirEdicion" method="post">
        <div class="modal fade" id="modalSugerencia" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Sugerencia de Edición</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="descripcionModalSugerencia" class="modal-body">
                        <h2 id="descModalSugerencia"> </h2> <br>
                        <h2>Sugerencia de Edicion </h2>

                        <textarea id = "sugerenciaEdicion"> </textarea>

                        <h2>Comentarios</h2>

                        <textarea id = "comentarios"> </textarea>

                    </div>
                    <div class="modal-footer">
                        <button id="botonModalSugerencia" type ="button" class="btn btn-secondary" onclick="enviarSugerencia()">Enviar Sugerencia</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>