<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sugerencia de Edición</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/static/popupForm.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
    <script>

    </script>
</head>
<body>
    <div class="header">
        <a href="/"><i class="material-icons" style="font-size: 30px;">arrow_back</i></a>
        <h1> Sugerencia de Edición </h1>
    </div>
    <div>
        <form action="BuscarSubtemasItems" method="post">
            <label>Curso:</label>
                <select onchange="this.form.submit()" name="selectBuscarTemaSugEdic">
                    <option>Escoger Curso</option>
                    {% for curso in cursos %}
                        {% if (curso.getId()~"-"~curso.getTema()) == cursoFiltroItemEdicion %}
                            <option selected> {{ curso.getId()}}-{{curso.getTema()}}</option>
                        {% else %}
                            <option> {{ curso.getId()}}-{{curso.getTema()}}</option>
                        {%endif%}
                    {% endfor %}
                    </select>
            <label>Tema:</label>
            <select name="temaSugerencia">
                <option>Escoger Tema</option>
                {% for tema in temasItemEdicion %}
                    <option> {{ tema.getId()}}-{{tema.getTema()}}</option>
                {% endfor %}
            </select>
            <label>Subtema:</label>
            <select name="subtemaSugerencia">
                <option>Escoger Subtema</option>
                {% for subtema in subtemasItemEdicion %}
                    <option> {{ subtema.getId()}}-{{subtema.getSubtema()}}</option>
                {% endfor %}
            </select>
            <input name = "buscarItems" class="btnSearch" type="submit" value="Buscar">
        </form>
        <table id= "tablaSugerencia" class="TablaSugerencia">
            <thead>
            <tr>
                <td>Identificador</td>
                <td>Tipo</td>
                <td>Puntaje</td>
                <td>Índice de Discriminación</td>
                <td>Realizar Sugerencia</td>
            </tr>
            </thead>
            <tbody>
            {% for item in itemsFiltroSugerencia %}
                <tr>
                    <td>{{item.getIdLargo()}}/Item{{ item.getId() }}</td>
                    <td>{{ item.getTipo() }}</td>
                    <td>{{ item.getPuntaje() }}</td>
                    <td>{{ item.getIndice() }}</td>
                    <td> <button class="consult-button" onclick="verificarIndiceDiscriminacion(this,{{descripItems}})">Seleccionar</button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="footer">
        <img style = "background-color: rgb(0, 0, 0, 0.7); width: 30%; height: 20%;" src="../static/TECB.png" alt="Tecnológico de Costa Rica">
    </div>
</body>
</html>