<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sugerencia de Edición</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/static/popupForm.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/solicitudes.js"></script>

</head>
<body>
    <div class="header">
        <a href="/"><i class="material-icons" style="font-size: 30px;">arrow_back</i></a>
        <h1> Revisión de Ediciones </h1>
    </div>
    <div>
        <table id= "tablaVerificaciones" class="TablaVerificaciones">
            <thead>
            <tr>
                <td>Identificador</td>
                <td>Tipo</td>
                <td>Puntaje</td>
                <td>Tema</td>
                <td>Subtema</td>
                <td>Sugerido Por</td>
                <td>Revisar Sugerencia</td>
            </tr>
            </thead>
            <tbody>
            {% for sugerencia in sugerenciasFiltradas %}
                <tr>
                    <td hidden>{{ sugerencia.getIdSugerencia() }} </td>
                    <td>{{sugerencia.getIdLargo()}}/Item{{ sugerencia.getId()}}</td>
                    <td>{{ sugerencia.getTipo() }}</td>
                    <td>{{ sugerencia.getPuntaje() }}</td>
                    <td>{{ sugerencia.getTema() }}</td>
                    <td>{{ sugerencia.getSubtema() }}</td>
                    <td>{{ sugerencia.getUsuario() }}</td>
                    <td> <button class="consult-button" onclick="desplegarModalVerificar(this,{{descripItems}},{{sugerencias}}, {{comentarios}})">Revisar Sugerencia</button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{#    <div id="footer">#}
{#        <img style = "background-color: rgb(0, 0, 0, 0.7); width: 30%; height: 20%;" src="../static/TECB.png" alt="Tecnológico de Costa Rica">#}
{#    </div>#}



    <!-- Modal -->
    <form action="verificarEdicion" method="post">
        <div class="modal fade" id="modalVerificacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Verificar Edición</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div id="descripcionModalSugerencia" class="modal-body">

                  <h2 id="descModalVerificacion"> </h2> <br>
                  <h2>Sugerencia de Edicion </h2>

                  <textarea id = "sugerenciaEdicion"> </textarea>

                  <h2>Comentarios</h2>

                  <textarea id = "comentarios"> </textarea>

              </div>
              <div class="modal-footer">
                  <button id="botonModalAprobar" type ="button" class="btn btn-secondary">Aceptar Sugerencia</button>
                  <button id="botonModalRechazar" type ="button" class="btn btn-secondary">Rechazar Sugerencia</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
    </form>

</body>
</html>